{
  "openapi": "3.0.1",
  "info": { "title": "Dfns API", "version": "4.5.1" },
  "servers": [
    {
      "description": "Ninja (Staging-Testnet)",
      "url": "https://api.dfns.ninja"
    },
    {
      "description": "WTF (Development-Testnet)",
      "url": "https://api.dfns.wtf"
    }
  ],
  "paths": {
    "/public-keys/{publicKey}": {
      "get": {
        "tags": ["PublicKeys"],
        "operationId": "GetPublicKeyById",
        "description": "Retrieves public key details by its `id`.",
        "parameters": [
          {
            "name": "publicKey",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PublicKeyRecord" }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public-keys": {
      "post": {
        "tags": ["PublicKeys"],
        "operationId": "CreatePublicKey",
        "description": "Creates a public key invoking key shares to create signatures and sign any arbitrary message.\n\nTo create a public key, you have to specify only the following:\n\n*   Signature algorithm used to generate the key (currently [ECDSA](https://en.wikipedia.org/wiki/Elliptic_Curve_Digital_Signature_Algorithm) or [EdDSA](https://en.wikipedia.org/wiki/EdDSA))\n*   Group size for the number of key shares\n*   Group threshold for the minimum number of key shares required to execute the MPC/TSS ceremony\n  \n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePublicKeyInput" }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PublicKeyRecord" }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["PublicKeys"],
        "operationId": "ListPublicKeys",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicKeyRecord"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public-keys/{publicKeyId}/signatures": {
      "post": {
        "tags": ["PublicKeys"],
        "operationId": "CreateSignature",
        "description": "Accepts a message, and uses Dfns MPC network to create signature against it.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateSignatureInput" }
            }
          }
        },
        "parameters": [
          {
            "name": "publicKeyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SignatureResponse" }
              }
            }
          },
          "402": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/PaymentRequiredError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public-keys/{publicKeyId}/signatures/{signatureId}": {
      "get": {
        "tags": ["PublicKeys"],
        "operationId": "GetSignatureById",
        "description": "",
        "parameters": [
          {
            "name": "publicKeyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "signatureId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Signature" }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public-keys/transactions/{transactionId}": {
      "get": {
        "tags": ["PublicKeys"],
        "operationId": "GetTransactionById",
        "description": "",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BroadcastedTransaction"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/asset-accounts/{assetAccountId}/payments": {
      "post": {
        "tags": ["Assets"],
        "operationId": "InitiatePayment",
        "description": "Initiates payment in provided `AssetSymbol`, instructing funds to be transferred from one wallet to another within same network and same kind of asset (currency or otherwise). Response either confirms initiation of payment process (success) or gives reason why it’s not possible (failure).\n\n## Notes\n\n1.  This operation can be used to transfer native currencies, ERC20 coins, and FA1.2 coins.\n2.  When the payment is in the process of being initiated, its `status` is `Initiated`. Once complete, the payment's `status` changes from `Initiated` to `Executed`. To confirm that this has occurred, you can use the [`GetPaymentById` method](./GetPaymentById.md).\n3.  Error `replacement fee too low` can occur with all state-changing operations (such as this one). It happens when the address you are trying to send from has a pending transaction that has not been confirmed yet. When you then try to resend a new transaction it has the same nonce as the unconfirmed one. What that message error means is that the gas price is lower for this new transaction than the gas price on the pending transaction.\n\n<!--  -->",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePaymentInput" }
            }
          }
        },
        "parameters": [
          {
            "name": "assetAccountId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "400": {
            "description": "Payment initiation payload is invalid, and missing parameters. See `description` field for additional details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Payment initiation payload is invalid, and missing parameters. See `description` field for additional details.",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "GasStation requires additional top-up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "GasStation requires additional top-up.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/PaymentRequiredError"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Asset Account doesn't have sufficient funds to process payment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Asset Account doesn't have sufficient funds to process payment",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/InsufficientFunds"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Assets"],
        "operationId": "ListPayments",
        "description": "Returns list of all `Payment` entities belonging to the same organization as the caller. Additional filters can be provided; see list of parameters for the operation.",
        "parameters": [
          {
            "name": "assetAccountId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/asset-accounts/{assetAccountId}/payments/{paymentId}": {
      "get": {
        "tags": ["Assets"],
        "operationId": "GetPaymentById",
        "description": "\n## GetPaymentById\n\nGiven an `AssetAccountId` and `PaymentId`, returns a specific `Payment` entity.\n",
        "parameters": [
          {
            "name": "assetAccountId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "paymentId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/asset-accounts": {
      "post": {
        "tags": ["Assets"],
        "operationId": "CreateAssetAccount",
        "description": "Creates new `AssetAccount` entity associated with a specific `assetSymbol` (such as `ETH`). Returns new asset ID.\n\n## Notes\n\n1.  If `publicKey` is provided then `AssetAccount` will be added to the existing public-key (SigningGroup).    \n    \n2.  Error `groupThreshold/groupSize cannot be empty` happens if the default values of `3/7` for `groupThreshold` or `groupSize` respectively didn't get applied server-side. In the rare case that this happens, add those values to the request body in production (and `3/5` on testnets).  \n    \n3.  Error `parties is larger than the available number of peers` happens whenever you set `groupThreshold` or `groupSize` higher than the number of nodes provisioned by the system (`3/7` on production, `3/5` on testnets).        \n    \n4.  This operation is asynchronous. We create a record in the database with a `Creating` status and return a response with an asset account ID (starting with `aa-`). In the background, we generate a new public key. When this is done, the record in database is updated with additional information and the status is set to `Enabled`.  \n    If it were synchronous, then the response would have to contain all the information about the created asset account, such as public key. This would mean a significant delay on the initial response, up to the key generation time (10, 15, even 30+ seconds).\n\n<!--  -->",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetAccountInput"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetAccount" }
              }
            }
          },
          "400": {
            "description": "Unable to create asset account entity with provided configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Unable to create asset account entity with provided configuration",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          },
          "402": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/PaymentRequiredError"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Unable to find `publicKey` provided in request body.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Unable to find `publicKey` provided in request body.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Assets"],
        "operationId": "ListAssetAccounts",
        "description": "Returns list of all `AssetAccount` entities belonging to the same organization as the caller. Additional filters can be provided; see list of parameters for the operation.\n\n<!--  -->",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["Creating", "Enabled", "Failed"],
              "description": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/AssetAccount" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/asset-accounts/{assetAccountId}": {
      "get": {
        "tags": ["Assets"],
        "operationId": "GetAssetAccountById",
        "description": "Retrieves a particular instance of `AssetAccount` by its `id`. If not found, returns `EntityNotFoundError` with a message indicating which table from which it's missing.\n\n> **Note**: `address` is derived from the `publicKey` via a blockchain-specific function.\n\n<!--  -->",
        "parameters": [
          {
            "name": "assetAccountId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetAccount" }
              }
            }
          }
        }
      }
    },
    "/assets/asset-accounts/{assetAccountId}/balance": {
      "get": {
        "tags": ["Assets"],
        "operationId": "ReadAssetAccountBalanceById",
        "description": "Retrieves the balance of the `AssetAccount` by its `id`. Returns an instance of `AssetAccountBalance`.",
        "parameters": [
          {
            "name": "assetAccountId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetAccountBalance" }
              }
            }
          }
        }
      }
    },
    "/policies": {
      "post": {
        "tags": ["PolicyManagement"],
        "operationId": "CreatePolicy",
        "description": "Creates new policy. This binds a list of `PolicyRule` entities and `PolicyControl` entities to a given `ActivityKind`.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePolicyInput" }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "400": {
            "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["PolicyManagement"],
        "operationId": "ListPolicies",
        "description": "Lists all available `Policy` entities. List can be further filtered using using additional parameters below.\n",
        "parameters": [
          {
            "name": "dateCreated",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "dateUpdated",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "activityKind",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PaymentInitiation",
                "AddingEmployee",
                "UpdatingEmployeeDetails",
                "RemovingEmployee",
                "CreatingSignature",
                "TransactionInitiation"
              ],
              "description": ""
            }
          },
          {
            "name": "isEnabled",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          },
          {
            "name": "isDisabled",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          },
          {
            "name": "isArchived",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Policy" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/{policyId}": {
      "put": {
        "tags": ["PolicyManagement"],
        "operationId": "UpdatePolicy",
        "description": "Updates existing policy, creating a new policy with same `id` but different `version`. Old policy is marked as `Archived` and no longer available for execution, but can be reviewed and audited.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdatePolicyInput" }
            }
          }
        },
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "400": {
            "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["PolicyManagement"],
        "operationId": "GetPolicyById",
        "description": "Retrieves single `Policy` item by its `id`.\n",
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["PolicyManagement"],
        "operationId": "ArchivePolicy",
        "description": "Deactivates a specific `Policy` entity by its `PolicyId` and marks its `status` as `Archived`.",
        "parameters": [
          {
            "name": "policyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/policy-controls": {
      "post": {
        "tags": ["PolicyManagement"],
        "operationId": "CreatePolicyControl",
        "description": "Creates new `PolicyControl` entity. \n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePolicyControlInput"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyControl" }
              }
            }
          },
          "400": {
            "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["PolicyManagement"],
        "operationId": "ListPolicyControls",
        "description": "Lists all available `PolicyControl` entities. List can be further filtered using using additional parameters below.\n",
        "parameters": [
          {
            "name": "dateCreated",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "dateUpdated",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "policyControlKind",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["NotifyAndAudit", "RequestApproval"],
              "description": ""
            }
          },
          {
            "name": "isEnabled",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          },
          {
            "name": "isDisabled",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          },
          {
            "name": "isArchived",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/PolicyControl" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/policy-controls/{policyControlId}": {
      "put": {
        "tags": ["PolicyManagement"],
        "operationId": "UpdatePolicyControl",
        "description": "Updates existing policy control, creating a new policy control with same `id` but different `version`. Old policy control is marked as `Archived` and no longer available for execution, but can be reviewed and audited.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePolicyControlInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "policyControlId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyControl" }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["PolicyManagement"],
        "operationId": "GetPolicyControlById",
        "description": "Lists all available `PolicyControl` entities. List can be further filtered using using additional parameters below.",
        "parameters": [
          {
            "name": "policyControlId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyControl" }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["PolicyManagement"],
        "operationId": "ArchivePolicyControl",
        "description": "Deactivates a specific `PolicyControl` entity by its `PolicyControlId` and marks its `status` as `Archived`.",
        "parameters": [
          {
            "name": "policyControlId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PolicyControl" }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/policy-rules": {
      "post": {
        "tags": ["PolicyManagement"],
        "operationId": "CreatePolicyRule",
        "description": "Creates new `PolicyRule` entity. \n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePolicyInput" }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "400": {
            "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["PolicyManagement"],
        "operationId": "ListPolicyRules",
        "description": "Lists all available `Policy` entities. List can be further filtered using using additional parameters below.\n",
        "parameters": [
          {
            "name": "dateCreated",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "dateUpdated",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          },
          {
            "name": "activityKind",
            "in": "query",
            "description": "",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "PaymentInitiation",
                "AddingEmployee",
                "UpdatingEmployeeDetails",
                "RemovingEmployee",
                "CreatingSignature",
                "TransactionInitiation"
              ],
              "description": ""
            }
          },
          {
            "name": "isEnabled",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          },
          {
            "name": "isDisabled",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          },
          {
            "name": "isArchived",
            "in": "query",
            "description": "",
            "required": true,
            "schema": { "type": "boolean", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Policy" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/policy-rules/{policyRuleId}": {
      "put": {
        "tags": ["PolicyManagement"],
        "operationId": "UpdatePolicyRule",
        "description": "Updates existing policy rule, creating a new policy rule with same `id` but different `version`. Old policy rule is marked as `Archived` and no longer available for execution, but can be reviewed and audited.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UpdatePolicyInput" }
            }
          }
        },
        "parameters": [
          {
            "name": "policyRuleId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "400": {
            "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Payload is invalid. Please see `causes` field to see details and reasons.",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["PolicyManagement"],
        "operationId": "GetPolicyRuleById",
        "description": "Retrieves single `Policy` item by its `id`.",
        "parameters": [
          {
            "name": "policyRuleId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["PolicyManagement"],
        "operationId": "ArchivePolicyRule",
        "description": "Deactivates a specific `PolicyRule` entity by its `PolicyRuleId` and marks its `status` as `Archived`.",
        "parameters": [
          {
            "name": "policyRuleId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Policy" }
              }
            }
          },
          "404": {
            "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Policy with provided Id doesn't exist. Please see `causes` for additional information.",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/policies/policy-control-executions": {
      "get": {
        "tags": ["PolicyExecution"],
        "operationId": "ListPolicyControlExecutions",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyControlExecution"
                }
              }
            }
          }
        }
      }
    },
    "/policies/policy-control-executions/{policyControlExecutionId}": {
      "get": {
        "tags": ["PolicyExecution"],
        "operationId": "GetPolicyControlExecutionById",
        "description": "",
        "parameters": [
          {
            "name": "policyControlExecutionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyControlExecution"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["PolicyExecution"],
        "operationId": "UpdatePolicyControlExecution",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePolicyControlExecutionInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "policyControlExecutionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PolicyControlExecution"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "post": {
        "tags": ["ApiKeys"],
        "operationId": "CreateApiKey",
        "description": "\n## CreateApiKey\n\nInstantiates a JWT token for a machine/service account, which must be securely persisted and passed in the request headers as a bearer token. The token is subject to policy engine controls, and you must provide scopes for it.\n\n\n> ❗ **Warning**: Dfns does not keep the actual token you receive in the `token` field, so you must save it securely on your side. You will not be able to get this token again from the Dfns API.\n\n\n\n\n\n\n\n\n\n\n\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateApiKeyInput" }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyRecordWithToken"
                }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ApiKeyActionNotAllowed"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["ApiKeys"],
        "operationId": "ListApiKeys",
        "description": "\n## ListApiKeys\n\nLists all `ApiKey` entities belonging to the same organization as the caller. Additional filters can be provided; see list of parameters for the operation.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApiKeyRecord" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys/{apiKeyId}": {
      "delete": {
        "tags": ["ApiKeys"],
        "operationId": "RevokeApiKey",
        "description": "\n## RevokeApiKey\n\nDeactivates a specific `ApiKey` entity by its `ApiKeyId` and marks its `status` as `Archived`.",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyRecord" }
              }
            }
          },
          "403": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/ApiKeyActionNotAllowed"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["ApiKeys"],
        "operationId": "GetApiKeyById",
        "description": "# GetApiKeyById\n\nRetrieves `ApiKey` by its `ApiKeyId`.\n\n<!-- ## Notes\n\nThe `500 Internal Server Error` with the message `Invalid KeyConditionExpression: An expression attribute value used in expression is not defined; attribute value: :cId` may occur when  -->",
        "parameters": [
          {
            "name": "apiKeyId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ApiKeyRecord" }
              }
            }
          }
        }
      }
    },
    "/api-keys/scopes": {
      "get": {
        "tags": ["ApiKeys"],
        "operationId": "ListScopes",
        "description": "\n## ListScopes\n\nLists all available scopes that can be used to restrict access to specific entities and operations.\n\n\n ",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ApiKeyRecord" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/callback-subscriptions": {
      "post": {
        "tags": ["Callbacks"],
        "operationId": "CreateCallbackSubscription",
        "description": "",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCallbackSubscriptionInput"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackSubscription"
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": { "$ref": "#/components/schemas/BadRequestError" }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Callbacks"],
        "operationId": "ListCallbackSubscriptions",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CallbackSubscription"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/callback-subscriptions/{callbackSubscriptionId}": {
      "get": {
        "tags": ["Callbacks"],
        "operationId": "GetCallbackSubscriptionById",
        "description": "",
        "parameters": [
          {
            "name": "callbackSubscriptionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackSubscription"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Callbacks"],
        "operationId": "ArchiveCallbackSubscription",
        "description": "",
        "parameters": [
          {
            "name": "callbackSubscriptionId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CallbackSubscription"
                }
              }
            }
          }
        }
      }
    },
    "/callback-events/{callbackEventId}": {
      "get": {
        "tags": ["Callbacks"],
        "operationId": "GetCallbackEventById",
        "description": "",
        "parameters": [
          {
            "name": "callbackEventId",
            "in": "path",
            "description": "",
            "required": true,
            "schema": { "type": "string", "description": "" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CallbackEvent" }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "error": {
                      "$ref": "#/components/schemas/EntityNotFoundError"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/callback-events": {
      "get": {
        "tags": ["Callbacks"],
        "operationId": "ListCallbackEvents",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/CallbackEvent" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Org": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "legalName": { "type": "string", "description": "" },
          "tradingName": { "type": "string", "description": "" },
          "country": {
            "description": "",
            "$ref": "#/components/schemas/Countries"
          },
          "dateOfIncorporation": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          },
          "dateOnboarded": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/OrgStatus"
          },
          "employees": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/OrgEmployee" }
          },
          "groups": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/EmployeeGroup" }
          }
        }
      },
      "OrgEmployee": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/OrgEmployeeStatus"
          },
          "orgId": { "type": "string", "description": "" },
          "username": { "type": "string", "description": "" },
          "email": { "description": "", "$ref": "#/components/schemas/Email" },
          "issuer": {
            "description": "Identity issuer (eg Auth0). Empty if it's the default one (Dfns one). The issuer will be filled for non-Dfns issuers.",
            "$ref": "#/components/schemas/IdentityIssuer"
          },
          "dateCreated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateUpdated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "fullName": { "type": "string", "description": "" },
          "dateOfBirth": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          },
          "groups": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/EmployeeGroup" }
          },
          "permissionNames": {
            "type": "array",
            "description": "",
            "items": { "type": "string" }
          }
        }
      },
      "EmployeeGroup": {
        "type": "object",
        "description": "",
        "properties": { "name": { "type": "string", "description": "" } }
      },
      "CreateOrgEmployeePayload": {
        "type": "object",
        "description": "",
        "properties": {
          "username": { "type": "string", "description": "" },
          "email": { "description": "", "$ref": "#/components/schemas/Email" },
          "issuer": { "type": "string", "description": "" },
          "fullName": { "type": "string", "description": "" },
          "dateOfBirth": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          }
        }
      },
      "OrgApiKey": {
        "type": "object",
        "description": "",
        "properties": {
          "apiKeyId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "orgId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "permissionNames": {
            "type": "array",
            "description": "",
            "items": { "type": "string" }
          }
        }
      },
      "ResourcePermission": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "orgId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "permissionName": { "type": "string", "description": "" },
          "resourceKinds": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/ResourceKind" }
          },
          "operations": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/AllowedResourceOperation" }
          },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/PermissionStatus"
          },
          "isImmutable": { "type": "boolean", "description": "" },
          "predicates": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/PermissionPredicate" }
          },
          "dateCreated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateUpdated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "isArchived": { "type": "boolean", "description": "" }
        }
      },
      "PermissionPredicate": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "orgId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "resourcePermissionId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "fieldName": { "type": "string", "description": "" },
          "evaluatorKind": {
            "description": "",
            "$ref": "#/components/schemas/FieldEvaluatorKind"
          },
          "parameters": {
            "type": "array",
            "description": "",
            "items": { "type": "string" }
          },
          "isImmutable": { "type": "boolean", "description": "" },
          "dateCreated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateUpdated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "isArchived": { "type": "boolean", "description": "" }
        }
      },
      "CreateEmployee": {
        "type": "object",
        "description": "",
        "properties": {
          "username": { "type": "string", "description": "" },
          "email": { "description": "", "$ref": "#/components/schemas/Email" },
          "issuer": { "type": "string", "description": "" },
          "fullName": { "type": "string", "description": "" },
          "dateOfBirth": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          }
        }
      },
      "UpdateEmployee": {
        "type": "object",
        "description": "",
        "properties": {
          "fullName": { "type": "string", "description": "" },
          "dateOfBirth": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          },
          "email": { "description": "", "$ref": "#/components/schemas/Email" },
          "name": { "type": "string", "description": "" },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/OrgEmployeeStatus"
          }
        }
      },
      "UpdateOrg": {
        "type": "object",
        "description": "",
        "properties": {
          "legalName": { "type": "string", "description": "" },
          "tradingName": { "type": "string", "description": "" },
          "dateOfIncorporation": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          },
          "country": {
            "description": "",
            "$ref": "#/components/schemas/Countries"
          },
          "dateOnboarded": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          }
        }
      },
      "CreateOrg": {
        "type": "object",
        "description": "",
        "properties": {
          "legalName": { "type": "string", "description": "" },
          "tradingName": { "type": "string", "description": "" },
          "dateOfIncorporation": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          },
          "country": {
            "description": "",
            "$ref": "#/components/schemas/Countries"
          },
          "dateOnboarded": {
            "description": "",
            "$ref": "#/components/schemas/IsoDate"
          },
          "employees": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/CreateOrgEmployeePayload" }
          }
        }
      },
      "CreatePermissionInput": {
        "type": "object",
        "description": "",
        "properties": {
          "permissionName": { "type": "string", "description": "" },
          "resourceKinds": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/ResourceKind" }
          },
          "operations": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/AllowedResourceOperation" }
          }
        }
      },
      "UpdatePermissionInput": {
        "type": "object",
        "description": "",
        "properties": {
          "permissionName": { "type": "string", "description": "" },
          "resourceKinds": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/ResourceKind" }
          },
          "operations": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/AllowedResourceOperation" }
          }
        }
      },
      "ArchivePermissionInput": {
        "type": "object",
        "description": "",
        "properties": { "isArchived": { "type": "boolean", "description": "" } }
      },
      "CreatePredicateInput": {
        "type": "object",
        "description": "",
        "properties": {
          "fieldName": { "type": "string", "description": "" },
          "evaluatorKind": {
            "description": "",
            "$ref": "#/components/schemas/FieldEvaluatorKind"
          },
          "parameters": {
            "type": "array",
            "description": "",
            "items": { "type": "string" }
          }
        }
      },
      "UpdatePredicateInput": {
        "type": "object",
        "description": "",
        "properties": {
          "fieldName": { "type": "string", "description": "" },
          "evaluatorKind": {
            "description": "",
            "$ref": "#/components/schemas/FieldEvaluatorKind"
          },
          "parameters": {
            "type": "array",
            "description": "",
            "items": { "type": "string" }
          }
        }
      },
      "ArchivePredicateInput": {
        "type": "object",
        "description": "",
        "properties": { "isArchived": { "type": "boolean", "description": "" } }
      },
      "OrgStatus": {
        "type": "string",
        "description": "Indicates customer’s status within a lifecycle.",
        "enum": ["Archived", "Disabled", "Enabled", "Creating", "Approved"]
      },
      "OrgEmployeeStatus": {
        "type": "string",
        "description": "",
        "enum": ["Enabled", "Disabled", "Archived"]
      },
      "AllowedResourceOperation": {
        "type": "string",
        "description": "",
        "enum": ["Read", "Write", "Transact"]
      },
      "ResourceKind": {
        "type": "string",
        "description": "",
        "enum": [
          "All",
          "AssetAccount",
          "NftAccount",
          "Employee",
          "ResourcePermission"
        ]
      },
      "FieldEvaluatorKind": {
        "type": "string",
        "description": "",
        "enum": [
          "AllAllowed",
          "ContainsAll",
          "ContainsOneOf",
          "CreatedAfter",
          "CreatedBefore",
          "CreatedWithin",
          "Is",
          "ValueGreaterThan",
          "ValueLessThan",
          "ValueWithin"
        ]
      },
      "PermissionStatus": {
        "type": "string",
        "description": "",
        "enum": ["Active"]
      },
      "SignatureResponse": {
        "type": "object",
        "description": "",
        "properties": {
          "r": { "type": "string", "description": "" },
          "s": { "type": "string", "description": "" },
          "recid": { "type": "integer", "description": "" }
        }
      },
      "PublicKeyRecord": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "externalId": { "type": "string", "description": "" },
          "orgId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "publicKey": {
            "description": "",
            "$ref": "#/components/schemas/PublicKey"
          },
          "signerIds": {
            "type": "array",
            "description": "",
            "items": { "type": "string" }
          },
          "groupThreshold": { "type": "integer", "description": "" },
          "groupSize": { "type": "integer", "description": "" },
          "tags": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/Tag" }
          },
          "isEddsa": { "type": "boolean", "description": "" },
          "allowedProducts": {
            "description": "",
            "$ref": "#/components/schemas/ProductKind"
          }
        }
      },
      "WalletBalance": {
        "type": "object",
        "description": "",
        "properties": {
          "walletId": { "type": "string", "description": "" },
          "asset": { "type": "string", "description": "" },
          "balance": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "timestamp": {
            "description": "",
            "$ref": "#/components/schemas/Epoch"
          }
        }
      },
      "WalletAddress": {
        "type": "object",
        "description": "",
        "properties": {
          "walletId": { "type": "string", "description": "" },
          "asset": { "type": "string", "description": "" },
          "address": {
            "description": "",
            "$ref": "#/components/schemas/BlockchainAddress"
          }
        }
      },
      "WalletTx": {
        "type": "object",
        "description": "",
        "properties": {
          "from": {
            "description": "",
            "$ref": "#/components/schemas/BlockchainAddress"
          },
          "to": {
            "description": "",
            "$ref": "#/components/schemas/BlockchainAddress"
          },
          "amount": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "asset": { "type": "string", "description": "" },
          "txHash": { "type": "string", "description": "" },
          "timestamp": {
            "description": "",
            "$ref": "#/components/schemas/Epoch"
          },
          "status": { "type": "string", "description": "" },
          "blockHash": { "type": "string", "description": "" },
          "blockHeight": { "type": "string", "description": "" },
          "confirmations": { "type": "integer", "description": "" }
        }
      },
      "Signature": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "orgId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "publicKeyId": { "type": "string", "description": "" },
          "hash": { "type": "string", "description": "" },
          "r": { "type": "string", "description": "" },
          "s": { "type": "string", "description": "" },
          "recid": { "type": "integer", "description": "" },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/SignatureStatus"
          },
          "initiator": {
            "description": "",
            "$ref": "#/components/schemas/Initiator"
          }
        }
      },
      "CosmosDenomAmount": {
        "type": "object",
        "description": "",
        "properties": {
          "denom": { "type": "string", "description": "" },
          "amount": { "type": "string", "description": "" }
        }
      },
      "CosmosTimeoutHeight": {
        "type": "object",
        "description": "",
        "properties": {
          "revisionNumber": { "type": "string", "description": "" },
          "revisionHeight": { "type": "string", "description": "" }
        }
      },
      "EvmGenericTx": {
        "type": "object",
        "description": "",
        "properties": {
          "templateKind": {
            "type": "string",
            "description": "",
            "enum": ["EvmGenericTx"]
          },
          "to": { "type": "string", "description": "" },
          "gasLimit": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "gasPrice": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "nonce": { "type": "string", "description": "" },
          "value": { "type": "string", "description": "" },
          "data": { "type": "string", "description": "" },
          "publicKeyId": { "type": "string", "description": "" },
          "network": {
            "description": "",
            "$ref": "#/components/schemas/BlockchainNetwork"
          },
          "maxPriorityFeePerGas": {
            "description": "the maximum amount of gas to be included as a tip to the miner",
            "$ref": "#/components/schemas/Amount"
          },
          "maxFeePerGas": {
            "description": "the maximum amount of gas willing to be paid for the transaction (inclusive of baseFeePerGas and maxPriorityFeePerGas)",
            "$ref": "#/components/schemas/Amount"
          }
        }
      },
      "CosmosIbcTransferTx": {
        "type": "object",
        "description": "",
        "properties": {
          "templateKind": {
            "type": "string",
            "description": "",
            "enum": ["CosmosIbcTransfer"]
          },
          "sourcePort": { "type": "string", "description": "" },
          "sourceChannel": { "type": "string", "description": "" },
          "token": {
            "description": "",
            "$ref": "#/components/schemas/CosmosDenomAmount"
          },
          "sender": { "type": "string", "description": "" },
          "receiver": { "type": "string", "description": "" },
          "timeoutHeight": {
            "description": "",
            "$ref": "#/components/schemas/CosmosTimeoutHeight"
          },
          "timeoutTimestamp": { "type": "string", "description": "" },
          "publicKeyId": { "type": "string", "description": "" },
          "network": {
            "description": "",
            "$ref": "#/components/schemas/BlockchainNetwork"
          }
        }
      },
      "BroadcastedTransaction": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "transaction": {
            "description": "",
            "$ref": "#/components/schemas/TransactionPayload"
          },
          "snapshot": {
            "description": "",
            "$ref": "#/components/schemas/DocumentSnapshot"
          },
          "network": {
            "description": "",
            "$ref": "#/components/schemas/BlockchainNetwork"
          },
          "dateCreated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateUpdated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/TransactionStatus"
          },
          "txHash": { "type": "string", "description": "" },
          "networkResponse": { "type": "string", "description": "" },
          "dateBroadcasted": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "initiator": {
            "description": "",
            "$ref": "#/components/schemas/Initiator"
          },
          "publicKeyId": { "type": "string", "description": "" },
          "orgId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          }
        }
      },
      "CreateSignatureInput": {
        "type": "object",
        "description": "",
        "properties": { "hash": { "type": "string", "description": "" } }
      },
      "CreatePublicKeyInput": {
        "type": "object",
        "description": "",
        "properties": {
          "externalId": { "type": "string", "description": "" },
          "assetAccountId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "groupThreshold": { "type": "integer", "description": "" },
          "groupSize": { "type": "integer", "description": "" },
          "isEddsa": { "type": "boolean", "description": "" },
          "tags": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/Tag" }
          }
        }
      },
      "CreateWalletTxInput": {
        "type": "object",
        "description": "",
        "properties": {
          "to": {
            "description": "",
            "$ref": "#/components/schemas/BlockchainAddress"
          },
          "amount": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "asset": { "type": "string", "description": "" }
        }
      },
      "TransactionPayload": {
        "description": "",
        "oneOf": [
          { "$ref": "#/components/schemas/EvmGenericTx" },
          { "$ref": "#/components/schemas/CosmosIbcTransferTx" }
        ]
      },
      "PublicKeyStatus": {
        "type": "string",
        "description": "",
        "enum": ["Active", "Disabled", "Compromised"]
      },
      "SignatureStatus": {
        "type": "string",
        "description": "",
        "enum": ["Pending", "Executed", "Rejected", "Failed"]
      },
      "TransactionTemplateKind": {
        "type": "string",
        "description": "",
        "enum": ["EvmGenericTx", "CosmosIbcTransfer"]
      },
      "TransactionStatus": {
        "type": "string",
        "description": "",
        "enum": [
          "Initiated",
          "PolicyAccepted",
          "PolicyRejected",
          "BroadcastPending",
          "BroadcastRejected",
          "Broadcasted"
        ]
      },
      "PaymentInitiation": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "paymentId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "externalId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/PaymentInitiationStatus"
          },
          "orgId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "initiator": {
            "description": "",
            "$ref": "#/components/schemas/Initiator"
          },
          "assetSymbol": {
            "description": "",
            "$ref": "#/components/schemas/AssetSymbol"
          },
          "amount": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "sender": {
            "description": "",
            "$ref": "#/components/schemas/DfnsAssetAccount"
          },
          "receiver": {
            "description": "",
            "$ref": "#/components/schemas/PaymentInstrument"
          },
          "dateInitiated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "rejectionReason": {
            "type": "string",
            "description": "In case payment initiation is rejected by the system, this field will contain information about it.\n"
          }
        }
      },
      "BlockchainWalletAddress": {
        "type": "object",
        "description": "",
        "properties": {
          "kind": {
            "type": "string",
            "description": "",
            "enum": ["BlockchainWalletAddress"]
          },
          "address": { "type": "string", "description": "" }
        }
      },
      "DfnsAssetAccount": {
        "type": "object",
        "description": "",
        "properties": {
          "kind": {
            "type": "string",
            "description": "",
            "enum": ["DfnsAssetAccount"]
          },
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" }
        }
      },
      "AssetAccount": {
        "type": "object",
        "description": "",
        "properties": {
          "tags": {
            "type": "array",
            "description": "Multiple tags can be attached to an entity to categorise or otherwise mark it. For example tags could indicate risk (High, Medium, Low), departments (Trading, Sales, IT), purpose (Treasury, Hot, Deposits), and jurisdictions (US, EU, DE).\n\nMultiple tags can be attached to same entity.",
            "items": { "$ref": "#/components/schemas/Tag" }
          },
          "externalId": {
            "type": "string",
            "description": "Field can be used if entity is created in external (customer’s) system first. This way the external id can be attached to identify entity from Dfns’s data store."
          },
          "orgId": {
            "description": "Indicates id of the Organisation, such as usually a customer, or sub-devision, sub-tenant, and others.",
            "$ref": "#/components/schemas/EntityId"
          },
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "status": {
            "description": "Indicates whether account is ready to be used.",
            "$ref": "#/components/schemas/AssetAccountStatus"
          },
          "address": {
            "type": "string",
            "description": "Blockchain address for a chosen Blockchain network."
          },
          "publicKey": {
            "type": "string",
            "description": "`PublicKey` which is used by `AssetAccount`. Usually this is used to derive addresses on a given blockchain network.\n\nAlternatively can be used to verify signatures produced by the platform."
          },
          "publicKeyId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "assetSymbol": {
            "description": "Asset symbol indicating which asset this account is managing. Such as BTC or ETH. In case of coins (ERC20 and alike) use `COIN.BLOCKCHAIN` syntax, such as USDC.ETH or USDC.SOL to indicate that USDC on Ethereum or USDC on Solana is required.",
            "$ref": "#/components/schemas/AssetSymbol"
          },
          "name": {
            "type": "string",
            "description": "Custom name that can be added for an account."
          },
          "dateCreated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateUpdate": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "groupSize": { "type": "number", "description": "" },
          "groupThreshold": { "type": "number", "description": "" },
          "authorizations": {
            "type": "array",
            "description": "",
            "items": {
              "$ref": "#/components/schemas/AssetAccountAuthorization"
            }
          }
        }
      },
      "Payment": {
        "type": "object",
        "description": "",
        "properties": {
          "tags": {
            "type": "array",
            "description": "Multiple tags can be attached to an entity to categorise or otherwise mark it. For example tags could indicate risk (High, Medium, Low), departments (Trading, Sales, IT), purpose (Treasury, Hot, Deposits), and jurisdictions (US, EU, DE).\n\nMultiple tags can be attached to same entity.",
            "items": { "$ref": "#/components/schemas/Tag" }
          },
          "externalId": {
            "type": "string",
            "description": "Field can be used if entity is created in external (customer’s) system first. This way the external id can be attached to identify entity from Dfns’s data store."
          },
          "orgId": {
            "description": "Indicates id of the Organisation, such as usually a customer, or sub-devision, sub-tenant, and others.",
            "$ref": "#/components/schemas/EntityId"
          },
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "status": {
            "description": "",
            "$ref": "#/components/schemas/PaymentStatus"
          },
          "initiator": {
            "description": "",
            "$ref": "#/components/schemas/Initiator"
          },
          "assetAccountId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "assetSymbol": {
            "description": "",
            "$ref": "#/components/schemas/AssetSymbol"
          },
          "amount": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "sender": {
            "description": "",
            "$ref": "#/components/schemas/DfnsAssetAccount"
          },
          "receiver": {
            "description": "",
            "$ref": "#/components/schemas/PaymentInstrument"
          },
          "narrative": {
            "type": "string",
            "description": "SWIFT (MT, ISO15022) field. Represents additional information about payment.\n"
          },
          "note": { "type": "string", "description": "" },
          "receiverAddress": { "type": "string", "description": "" },
          "policyCertificate": {
            "description": "",
            "$ref": "#/components/schemas/DfnsCertificate"
          },
          "dateCreated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateUpdated": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateExecuted": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateBroadcasted": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateFirstConfirmed": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateConfirmed": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "dateSettled": {
            "description": "",
            "$ref": "#/components/schemas/IsoDatetime"
          },
          "txHash": { "type": "string", "description": "" },
          "blockHeight": { "type": "integer", "description": "" }
        }
      },
      "AssetAccountAuthorization": {
        "type": "object",
        "description": "",
        "properties": {
          "kind": {
            "description": "",
            "$ref": "#/components/schemas/AssetAccountAuthorizationKind"
          },
          "entityId": {
            "description": "",
            "$ref": "#/components/schemas/EntityId"
          },
          "permission": {
            "description": "",
            "$ref": "#/components/schemas/AssetAccountPermissions"
          }
        }
      },
      "AssetAccountBalance": {
        "type": "object",
        "description": "Balance of one asset account.",
        "properties": {
          "id": {
            "description": "Id of the AssetAccount.",
            "$ref": "#/components/schemas/EntityId"
          },
          "assetSymbol": {
            "description": "Asset Symbol of the account.",
            "$ref": "#/components/schemas/AssetSymbol"
          },
          "balance": {
            "description": "Balance of the account.",
            "$ref": "#/components/schemas/Amount"
          }
        }
      },
      "UpdateAssetAccountPayload": {
        "type": "object",
        "description": "",
        "properties": {
          "status": {
            "description": "Indicates whether account is ready to be used.",
            "$ref": "#/components/schemas/AssetAccountStatus"
          },
          "address": {
            "type": "string",
            "description": "Blockchain address for a chosen Blockchain network."
          },
          "publicKey": {
            "type": "string",
            "description": "`PublicKey` which is used by `AssetAccount`. Usually this is used to derive addresses on a given blockchain network.\n\nAlternatively can be used to verify signatures produced by the platform."
          },
          "name": {
            "type": "string",
            "description": "Custom name that can be added for an account."
          }
        }
      },
      "CreateAssetAccountInput": {
        "type": "object",
        "description": "",
        "properties": {
          "assetSymbol": {
            "description": "Asset symbol indicating which asset this account is managing. Such as BTC or ETH. In case of coins (ERC20 and alike) use `COIN.BLOCKCHAIN` syntax, such as USDC.ETH or USDC.SOL to indicate that USDC on Ethereum or USDC on Solana is required.",
            "$ref": "#/components/schemas/AssetSymbol"
          },
          "groupSize": { "type": "integer", "description": "" },
          "groupThreshold": { "type": "integer", "description": "" },
          "publicKey": {
            "description": "`PublicKey` which is used by `AssetAccount`. Usually this is used to derive addresses on a given blockchain network.\n\nAlternatively can be used to verify signatures produced by the platform.",
            "$ref": "#/components/schemas/PublicKey"
          },
          "externalId": { "type": "string", "description": "" },
          "tags": {
            "type": "array",
            "description": "",
            "items": { "$ref": "#/components/schemas/Tag" }
          },
          "name": {
            "type": "string",
            "description": "Custom name that can be added for an account."
          }
        }
      },
      "CreatePaymentInput": {
        "type": "object",
        "description": "",
        "properties": {
          "externalId": { "type": "string", "description": "" },
          "assetSymbol": {
            "description": "",
            "$ref": "#/components/schemas/AssetSymbol"
          },
          "amount": {
            "description": "",
            "$ref": "#/components/schemas/Amount"
          },
          "receiver": {
            "description": "",
            "$ref": "#/components/schemas/PaymentInstrument"
          },
          "note": { "type": "string", "description": "" },
          "narrative": { "type": "string", "description": "" }
        }
      },
      "InsufficientFunds": {
        "type": "object",
        "description": "",
        "properties": {
          "serviceName": { "type": "string", "description": "" },
          "message": { "type": "string", "description": "" },
          "causes": {
            "type": "array",
            "description": "",
            "items": { "type": "string" }
          },
          "shouldTriggerInvestigaton": { "type": "boolean", "description": "" },
          "isDfnsError": { "type": "boolean", "description": "" },
          "httpStatus": { "type": "integer", "description": "" },
          "errorName": { "type": "string", "description": "" }
        }
      },
      "PaymentInstrument": {
        "description": "",
        "oneOf": [
          { "$ref": "#/components/schemas/BlockchainWalletAddress" },
          { "$ref": "#/components/schemas/DfnsAssetAccount" }
        ]
      },
      "PaymentInstrumentKind": {
        "type": "string",
        "description": "",
        "enum": ["DfnsAssetAccount", "BlockchainWalletAddress"]
      },
      "PaymentInitiationStatus": {
        "type": "string",
        "description": "",
        "enum": ["Initiated", "Canceled", "Rejected"]
      },
      "AssetAccountStatus": {
        "type": "string",
        "description": "",
        "enum": ["Creating", "Enabled", "Failed"]
      },
      "PaymentStatus": {
        "type": "string",
        "description": "",
        "enum": [
          "Initiated",
          "Declined",
          "Approved",
          "Executed",
          "Rejected",
          "Broadcasted",
          "Confirmed",
          "Settled"
        ]
      },
      "AssetAccountAuthorizationKind": {
        "type": "string",
        "description": "",
        "enum": ["Employee", "Group", "ApiKey"]
      },
      "AssetAccountPermissions": {
        "type": "string",
        "description": "",
        "enum": ["InitiatePayments", "ReadBalance", "ReadPublicKey"]
      },
      "Policy": {
        "type": "object",
        "description": "",
        "properties": {
          "id": { "description": "", "$ref": "#/components/schemas/EntityId" },
          "version": { "type": "string", "description": "" },
          "activityKind": {
            "description": "",
[...]
